# LINE
LINE_EXPOSE_HOST=127.0.0.1
LINE_EXPOSE_PORT=80
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_CHAT_ROOM_ID=

# Matrix
MATRIX_DEVICE_NAME=matrix-line_bridge
MATRIX_HOME_SERVER=
MATRIX_ACCESS_TOKEN=
MATRIX_CHAT_ROOM_ID=
