{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ],
  "rules": {
    "linebreak-style": 1,
    "indent": ["error", 4],
    "quotes": ["error", "double"]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  }
}
